.pabigat{
    width:750px; 
    height:300px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color:rgb(143, 171, 197, 0.5);
    overflow: hidden;
    position: absolute;
    z-index:1;
    top:75px;
    left:px;
    padding:0px 25px;

}

body{
    font-family: Garamond, serif;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
.linenablue{
    size:4px;
    color:#000057; 
}

.mamamo{
    color:white;
    font-size:25px;
}
.hatdog{
    color:white;
    font-size:32px;
}


