.pabigat{
    width:80%; 
    height:300px;
    border: 1px solid ##010136;
    border-radius: 8px; 
    background-color:rgb(143, 171, 197, 0.5);
    overflow: hidden;
    position: absolute;
    z-index:1;
    top:75px;
    left:px;
    padding:0px 25px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.15), 0 0 0 1px rgba(9, 30, 66, 0.08) inset;
}

body{
    font-family: Garamond, serif;
}
p{
    text-align: justify;
    color:#000057; 
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
h5{
    text-align: center;
}
.linenablue{
    size:4px;
    color:#000057; 
}

.mamamo{
    color:white;
    font-size:25px;
}
.hatdog{
    color:white;
    font-size:32px;
}
a{
    color:#000057;
}
.puta{
    width:85%; 
    height:45px;
      border-width: 3px;
  border-style: solid;
  border-color: #000057; 
    border-radius: 8px; 
    background-color:rgb(143, 171, 197, 0.5);
{
.tanga{
    width:85%; 
    height:45px;
      border-width: 3px;
  border-style: solid;
  border-color: #000057; 
    border-radius: 8px; 
    background-color:rgb(143, 171, 197, 0.5);
    overflow: hidden;
    position: absolute;
    z-index:1;
    top:75px;
    left:px;
    padding:0px 25px;
{






